@model IEnumerable<ProgrammingCompanyWorkflow.Models.ApplicationRole>
@{
    ViewBag.Title = "Список ролей";
}

<h2>Список ролей</h2>
<p>
    @Html.ActionLink("Добавить роль", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название роли
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>